Repository googleapis/nodejs-asset, pull requests merged in 2020-12, with the labels that each got.

#436 feat: added support OSInventory in Assets
  protos/google/cloud/asset/v1/asset_service.proto
  protos/google/cloud/asset/v1/assets.proto
  protos/google/cloud/osconfig/v1/inventory.proto
  protos/google/cloud/osconfig/v1/osconfig_common.proto
  protos/google/cloud/osconfig/v1/osconfig_service.proto
  protos/google/cloud/osconfig/v1/patch_deployments.proto
  protos/google/cloud/osconfig/v1/patch_jobs.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/v1/asset_service_client.ts
  src/v1beta1/asset_service_client.ts
  src/v1p1beta1/asset_service_client.ts
  src/v1p2beta1/asset_service_client.ts
  src/v1p4beta1/asset_service_client.ts
  src/v1p5beta1/asset_service_client.ts
  synth.metadata
Labels: api: cloudasset, cla: yes, context: full

#438 chore: fix typo 'partion_key' in comments
  protos/google/cloud/asset/v1/asset_service.proto
  synth.metadata
Labels: api: cloudasset, cla: yes, context: full

#439 chore: generate GAPIC metadata JSON file
  src/v1/gapic_metadata.json
  src/v1beta1/gapic_metadata.json
  src/v1p1beta1/gapic_metadata.json
  src/v1p2beta1/gapic_metadata.json
  src/v1p4beta1/gapic_metadata.json
  src/v1p5beta1/gapic_metadata.json
  synth.metadata
Labels: api: cloudasset, automerge, cla: yes, context: full

#440 chore: fixing syntax error in the GAPIC metadata JSON file
  src/v1p1beta1/gapic_metadata.json
  src/v1p5beta1/gapic_metadata.json
  synth.metadata
Labels: api: cloudasset, cla: yes, context: full

#442 refactor: remove retired API surface v1beta1
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/index.ts
  src/v1beta1/asset_service_client.ts
  src/v1beta1/asset_service_client_config.json
  src/v1beta1/asset_service_proto_list.json
  src/v1beta1/gapic_metadata.json
  src/v1beta1/index.ts
  synth.metadata
  synth.py
  test/gapic_asset_service_v1beta1.ts
Labels: api: cloudasset, cla: yes

#443 docs: add instructions for authenticating for system tests
  CONTRIBUTING.md
  README.md
  synth.metadata
Labels: api: cloudasset, automerge, cla: yes, context: full
