Repository googleapis/nodejs-asset, pull requests merged in 2021-01, with the labels that each got.

#444 docs: update dates
  .jsdoc.js
  protos/protos.d.ts
  protos/protos.js
  src/v1/asset_service_client.ts
  src/v1/index.ts
  src/v1p1beta1/asset_service_client.ts
  src/v1p1beta1/index.ts
  src/v1p2beta1/asset_service_client.ts
  src/v1p2beta1/index.ts
  src/v1p4beta1/asset_service_client.ts
  src/v1p4beta1/index.ts
  src/v1p5beta1/asset_service_client.ts
  src/v1p5beta1/index.ts
  synth.metadata
  system-test/fixtures/sample/src/index.js
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
  test/gapic_asset_service_v1.ts
  test/gapic_asset_service_v1p1beta1.ts
  test/gapic_asset_service_v1p2beta1.ts
  test/gapic_asset_service_v1p4beta1.ts
  test/gapic_asset_service_v1p5beta1.ts
Labels: api: cloudasset, automerge, cla: yes, context: none

#445 feat: adds style enumeration
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  synth.metadata
Labels: api: cloudasset, automerge, cla: yes, context: none

#449 refactor(nodejs): move build cop to flakybot
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: cloudasset, automerge, cla: yes, context: full

#433 feat(samples): add samples for analyzeIamPolicy and analyzeIamPolicyLongrunning
  samples/analyzeIamPolicy.js
  samples/analyzeIamPolicyLongrunningBigquery.js
  samples/analyzeIamPolicyLongrunningGcs.js
  samples/package.json
  samples/test/sample.test.js
Labels: api: cloudasset, cla: yes, samples
